[submodule "firmware_bintools"]
	path = tools/firmware_bintools
	url = https://github.com/P20123/firmware_bintools
[submodule "tinyxpc"]
	path = subprojects/tinyxpc
	url = https://github.com/PyroAVR/tinyxpc
